# Core functionality - changes here should be rare!
/src/app.py                   @bisembaevaaigerim
/src/backend/database.py      @bisembaevaaigerim
/src/backend/routers/auth.py  @bisembaevaaigerim

# The frontend will need refactored soon to be more object oriented.
/src/static/   @bisembaevaaigerim
